
@{
    ViewBag.Title = "CheckLoginCredentials";
}

<h2>CheckLoginCredentials</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <input type="text" name="UserName" />
    <input type="text" name="Password" />
    <button type="submit">Submit</button>
}