
@{
    ViewBag.Title = "Index";
}

<h2>This is an index view</h2>

<form method="GET" action="/HelloWorld/GoToSpecificUrl">
    <label for="url">Url:</label>
    <input type="text" name="url" />
    <br />
    <button type="submit">Submit</button>
</form>
