
@model MVCFirstRun.Models.Person

@{
    ViewBag.Title = "CreatePost";
}

<h2>CreatePost</h2>

<div>
    <h1>Results are as below</h1>
    <br/>FullName: @Model.FullName
    <br/>Age: @Model.Age
    <br/>Age next year: @Model.AgeNextYear
</div>

